*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e3dbdb;
    min-height: 100vh;
}

h1{
    
    text-align: center;
    color: green;
    padding: 5px;
}

h2{
    text-align: center;
    color: green;
    padding: 10px;
}
h3{
    text-align: center;
    color: green;
    padding: 10px;
}

nav{
    background-color: lime;
    display: grid;
    place-items: center;

}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a:hover{
    background-color: green;
    color: white;
}

.c-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 20px;
    grid-column-gap: 10px;
    background: rgb(198, 200, 194);

    
}
.item img{
    height: 70%;
    width: 90%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2% ease;
    
}
.a-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: brightness(1.0);
}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item1 button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(16, 24, 9);
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
.item2 button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(16, 24, 9);
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
.item3 button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(16, 24, 9);
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

.item4 button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(16, 24, 9);
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
.items button{
    padding:20px;
    gap: 10px;
}
.item img:hover{
    transform: scale(1.08);
}

div li{
    background-color: rgb(126, 251, 128);
    display: grid;
    place-items: center;

}
@media screen and (max-width: 1000px )
{
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px )
{
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 100px )
{
    .c-img{
        grid-template-columns: repeat(2, 1fr);
    }
}
  








