*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e3dbdb;
    min-height: 100vh;
}

h1{
    
    text-align: center;
    color: green;
    padding: 5px;
}

h2{
    text-align: center;
    color: green;
    padding: 10px;
}
h3{
    text-align: center;
    color: green;
    padding: 10px;
}

nav{
    background-color: lime;
    display: grid;
    place-items: center;

}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #962424;
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a:hover{
    background-color: green;
    color: white;
}

.c-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 20px;
    grid-column-gap: 10px;
    /*background: rgb(198, 200, 194);*/

    
}
.item img{
    height: 70%;
    width: 90%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2% ease;
    
}
.a-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: brightness(1.0);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item1 {
    text-align: center;
  }
  
  .calculator-button {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
  
  .calculator-button img {
    border-radius: 50%;
    display: block;
  }
  
  .image-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  .item2 {
    text-align: center;
  }
  
  .calculator-button1 {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
  
  .calculator-button1 img {
    border-radius: 50%;
    display: block;
  }
  
  .image1-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  .item3 {
    text-align: center;
  }
    
  .calculator-button2 {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
    
  .calculator-button2 img {
    border-radius: 50%;
    display: block;
  }
    
  .image2-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  .item4 {
    text-align: center;
  }
    
  .calculator-button3 {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
    
  .calculator-button3 img {
    border-radius: 50%;
    display: block;
  }
    
  .image3-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  
.items button{
    padding:20px;
    gap: 10px;
}
.item1 img:hover{
    transform: scale(1.07);
}
.item2 img:hover{
    transform: scale(1.07);
}
.item3 img:hover{
    transform: scale(1.07);
}
.item4 img:hover{
    transform: scale(1.07);
}

@media screen and (max-width: 1000px )
{
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px )
{
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 100px )
{
    .c-img{
        grid-template-columns: repeat(2, 1fr);
    }
}
  








