@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,500&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

canvas {
    background-color: #f0e9e9;
    border: 1px solid #11c6d6;
    border-radius: 20px;
    box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.6);
    cursor: crosshair;
    width: 90%;
}

.mainContainer {
    background-color: #00cfe6;
    display: flex;
    width: 600px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2.5px 2px 2px rgba(150, 141, 141, 0.6);
    margin-bottom: 5%;
}

.mainContainer * {
    background-color: white;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 40px;
    width: 600px;
    margin: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.mainContainer button:active,
#clearIcon:active,
#colorSelector:active {
    transform: scale(0.98);
    box-shadow: inset 0 0 7px #03192b;
}

#descrease {
    background-color: rgb(179, 69, 22);
    color: #fff;
    border: 1px solid white;
}

#increase {
    background-color: green;
    color: #fff;
    border: 1px solid white;
}

#size {
    font-weight: bold;
}

.mainContainer :last-child {
    margin-left: auto;
    padding: 1rem;
    background-color: #fff;
    font-size: 16px;
    color: rgb(175, 40, 17);
    font-family: "Poppins";
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .mainContainer {
        width: 90%; /* Adjust width for smaller screens */
    }
    .canvas {
      width: 90%; 
  }
}